# CSS 300 | Spring 2025 | Lab Activity 3

*The very first thing you should do: rename this file by replacing "YOURNAME" with your actual first name. For this Lab Activity, this is the only file that you should submit!*

This Lab Activity comes in two parts, and with two sets of data. We've spent three weeks learning about `pandas`, and you're now well-equipped to explore data and answer questions about them. If you find yourself uncertain about how to do something, you should (in order):

- Have a look at the [`pandas` API reference](https://pandas.pydata.org/docs/reference/index.html)
- Ask Lucas or a Learning Support Specialist for help

*You are reminded that the use of generative AI in CSS 300, in any shape or form, is considered academic dishonesty and will result in a grade of zero (and possibly worse!).*

In [1]:
# Don't edit this cell, but please make sure you run it!
import pandas as pd

## Part One: Ramen Data
#### Everybody loves ramen! Included among the files you downloaded for this assignment is a file called `ramen.csv`. You should answer all questions below by writing code that gives the answer as output. Answers without clear, readable `python` code will receive no credit. **Problem 1 has been done for you (together with some data cleaning)!**

1) Write code in the cell below that will import the ramen data into a `DataFrame` called `ramen`. Then, run the `.info()` and `.head()` methods to try and get a sense of what information is available to you.

In [ ]:
# Problem 1 code goes here (don't edit this code)
ramen = pd.read_csv("ramen.csv")
# Removes duplicate rows. You can looks this up in the API reference, if you want!
ramen.drop_duplicates(keep=False, inplace=True)
# This removes all rows with null entries in any of the columns (except the "Top Ten" column).
ramen.dropna(subset=["Review Number", "Brand", "Variety", "Style", "Country", "Stars"], inplace=True)
# I don't want the last column, so I'm dropping it!
ramen.drop(labels="Top Ten", axis='columns', inplace=True)
ramen.info()
ramen.head()

2. It turns out that each row of the `DataFrame` called `ramen` is a review collected from a ramen review website. What are the top ten countries by *number of reviews*? *(Your code should output a sorted `Series` which is indexed by country and which is sorted in descending order of number of reviews for each country.)*

In [ ]:
ramen['Country'].value_counts().head(10)

3. Remove all rows which have an entry of `'Unrated'`in the `"Stars"` column. Then, use the `.astype()` method (see [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html)) to change the type of the column `"Stars"` from `object` to `float64`.

In [ ]:
ramen = ramen[ramen['Stars'] != 'Unrated']
ramen['Stars'] = ramen['Stars'].astype('float64')
ramen.info()

4. What percentage of all reviews are greater than or equal to 4? *You should round your output to two decimal places. Note also that you will need to have completed Problem 3 to complete this problem.*

In [ ]:
good_reviews = len(ramen[ramen['Stars'] >= 4.00])
total_reviews = len(ramen)
good_reviews_percentage = (good_reviews / total_reviews) * 100
good_reviews_percentage_rounded = round(good_reviews_percentage, 2)
print("Percentage of reviews greater or equal to 4:", good_reviews_percentage_rounded,"%")

## Part Two: Salary Data

In [ ]:
salaries = pd.read_csv("salaries.csv")
salaries.info()

#### Here's some salary data -- every row represents an employee at a particular company. Answer the following questions!

1. What is the average `BasePay`?

In [ ]:
salary_mean = salaries['BasePay'].mean()
print("Average Base Pay Salary:", round(salary_mean, 2), "$")

2. What is the highest amount of `OvertimePay`?

In [ ]:
overtime_max = salaries['OvertimePay'].max()
print("Highest Overtime Pay:", round(overtime_max, 2), "$")

3. What is the total pay (with benefits) of Joseph Driscoll **in 2012**? *(Be careful! There are two entries for this person â€” I suggest selecting via `.str.lower()`!)*

In [ ]:
salaries[(salaries["EmployeeName"] == "Joseph Driscoll") & (salaries["Year"] == 2012)]["TotalPayBenefits"]

4. What is the name of highest-paid person (including benefits)?

In [ ]:
salaries.sort_values(by='TotalPayBenefits', ascending=False).head(1)

5. What was the average (mean) BasePay of *all* employees per year (2011--2014)? *(Your output should be a `Series` (indexed by year) with four rows -- one for each of the four years.)

In [ ]:
salaries[["Year", "BasePay"]].groupby("Year").mean()

6. How many people have the word `"Chief"` in their job title?

In [ ]:
title_contains_chief = salaries[(salaries['JobTitle'].str.contains('Chief')) | (salaries['JobTitle'].str.contains('CHIEF'))]
len(title_contains_chief)